body {
    background-color: #ffffff;
}

.site-header-bar {
    width: 919px;
    border: 1px solid #cccccc;
    background-color: #00c6ff;
    height: 40px;
    text-align: center;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.site-header-title-container {
    text-align: center;
    display: inline-block;
    height: 15px;
    border-left: 2px solid #9999a8;
    border-right: 2px solid #9999a8;
    /* width: 100%; */
    top: 5px;
    padding: 5px 10px;
    margin-top: 8px;
    vertical-align: middle;
    line-height: 15px;
    border-radius: 3px;



}

.site-title {
    color: #19193b;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin: 0px auto;
    /*text-shadow: 0px 1px 0px #2a2a2a;*/
}


.site-sidebar {
    background-color: #fdfdfd;
    width: 198px;
    position: absolute;
    height: 100%;
    display: inline-block;
    left: 0px;
    border: 1px solid #cccccc;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */


}

.site-body-container {
    display: inline-block;
    background-color: #ffffff;
    width: 1024px;
    position: relative;
    height: 100%;
    top: 6px;
}

.site-body {
    width: 712px;
    height: 100%;
    top: 0px;
    position: absolute;
    display: inline-block;
    background-color: #fdfdfd;
    border: 1px solid #cccccc;
    left: 207px;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

}

.map-density-0 {
    fill:white !important
}

.map-density-1 {
    fill:#FF0000 !important
}

.map-density-2 {
    fill:#FF6000 !important
}

.map-density-3 {
    fill:#FFA000 !important
}

.map-density-4 {
    fill:#FFE000 !important
}

.map-density-5 {
    fill:#F0FF00 !important
}

.map-density-6 {
    fill:#e7ff7f !important
}

.map-density-7 {
    fill:#D0FF00 !important
}

.map-density-8 {
    fill:#90FF00 !important
}

.map-density-9 {
    fill:#50FF00 !important
}

.map-density-10 {
    fill:#10FF00 !important
}

.site-sidebar-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0em;
    line-height: 0px;
    text-align: center;

}

.site-sidebar-title-sub {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    line-height: 8px;
    text-align: center;
    color: #19193b
}

.map-divider-density-info {
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 20px;
    position: absolute;
    left: -3px;
    bottom: -15px;
    text-shadow: 1px 1px 0px black;
}


.map-divider {
    width: 194px;
    height: 20px;
    display: inline-block;
    margin: 1px auto;
    margin-left: 2px;
    position: relative;
}

.map-divider-container {
    z-index: 5;
}

.map-divider-container:hover .map-divider-population-hover {
    display: block;
    z-index: 6;
    background-color: rgba(253,90,1, 0.4);
}

.map-divider-population-hover {
    position: absolute;
    display: none;
    width: 199px;
    height: 296px;
    bottom: 0px;
    left: 0px;
}

.map-divider-housing {
    position: relative;
}

.map-divider-container:hover  .map-divider-housing-hover{
    display: block;
    z-index: 6;
    background-color: rgba(253,90,1, 0.4);

}

.map-divider-housing-hover {
    position: absolute;
    display: none;
    width: 199px;
    height: 296px;
    top: 0px;
    left: 0px;
}

/*.map-divider-population-hover:hover {
    
    /*visibility: visible;*/

}*/

.switch-site-information {
    position: absolute;
    top: 62px;
    padding: 48px;
    text-align: center;
    color: white;
    visibility: hidden;
}



.button-density-0 {
    background-color:white;
}

.button-density-10 {
    background-color:#FF0000;
}

.button-density-9 {
    background-color:#FF6000;
}

.button-density-8 {
    background-color:#FFA000;
}

.button-density-7 {
    background-color:#FFE000;
}

.button-density-6 {
    background-color:#F0FF00;
}

.button-density-5 {
    background-color:#d8e600;
}

.button-density-4 {
    background-color:#D0FF00;
}

.button-density-3 {
    background-color:#90FF00;
}

.button-density-2 {
    background-color:#50FF00;
}

.button-density-1 {
    background-color:#10FF00;
}

.button-density-11 {
    background-color:black;
}


.housing-density-0 {
    fill:white !important
}

.housing-density-1 {
    fill:#FF0000 !important
}

.housing-density-2 {
    fill:#FF6000 !important
}

.housing-density-3 {
    fill:#FFA000 !important
}

.housing-density-4 {
    fill:#FFE000 !important
}

.housing-density-5 {
    fill:#F0FF00 !important
}

.housing-density-6 {
    fill:#e7ff7f !important
}

.housing-density-7 {
    fill:#D0FF00 !important
}

.housing-density-8 {
    fill:#90FF00 !important
}

.housing-density-9 {
    fill:#50FF00 !important
}

.housing-density-10 {
    fill:#10FF00 !important
}